<div class="navbar">

    <div class="navbar-title">
        🏠 Sistema Inquilinos
    </div>

    <div class="navbar-menu">
        <a href="/">Inicio</a>
        <a href="/inquilinos">Inquilinos</a>
        <a href="/habitaciones">Habitaciones</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/pagos">Pagos</a>
        <a href="/reportes">Reportes</a>
    </div>

</div>